{{!-- Homepage --}}
<div class="homepage">
  <div class="home-div">
    <img src="/images/filmate-name.png" alt="FilMate extended logo" />
    <div class="intro-div">
      <h1>The ultimate social network for cinephiles. </h1>
      <h2>FilMate suggests movies to watch and connects you with people who have the same movie
      interests.</h2>
      <form action="/signup" method="GET">
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
{{!-- Log In Modal --}}
<div
  class="modal fade"
  id="logInModal"
  tabindex="-1"
  aria-labelledby="logInModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logInModalLabel">Log In</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div class="mb-3">
        <form action="/login" method="POST">
      <div class="modal-body">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" type="text" name="email" placeholder="name@example.com" />
          <br />
          <label class="form-label" for="password">Password</label>
          <input class="form-control" type="password" name="password" />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-close-modal"
          data-bs-dismiss="modal"
        >Close</button>
          <button type="submit" class="btn btn-primary btn-submit-modal">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>

