<img src="/images/filmate-name.png" alt="FilMate extended logo" />
<h1>The ultimate social network for cinephiles. </h1>
<h2>FilMate suggests you movies and connects you with people with the same movie
  interests.</h2>
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign
  Up</button>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="POST">
          <label for="username">Username</label>
          <input type="text" name="username" />
          <br />
          <label for="email">Email</label>
          <input type="text" name="email" />
          <br />
          <label for="password">Password</label>
          <input type="password" name="password" />
          <br />
          <label for="passwordCheck">Confirm password</label>
          <input type="password" name="passwordCheck" />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>