body {
  background-color: #f5f5f5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Modal buttons and body */

.btn-close-modal {
  background-color: #362f0c;
  border: #362f0c;
  transition: ease-in-out;
}

.btn-close-modal:hover {
  background-color: #272209;
  border: #272209;
}

.btn-close-modal:active {
  background-color: #272209;
  border: #272209;
}

.btn-close-modal:focus {
  background-color: #272209;
  border: #272209;
}

.btn-submit-modal {
  background-color: #eacc38;
  border: #eacc38;
  color: black;
  outline-color: none;
}

.btn-submit-modal:hover {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.btn-submit-modal:active {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.btn-submit-modal:focus {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.btn:active {
  outline-color: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline-color: none !important;
  box-shadow: none !important;
}

.modal-header {
  background-color: #eacc38;
}

.btn-close {
  background-color: white;
  opacity: 1;
}

.required-info {
  font-size: x-small;
  color: gray;
}

/* Auth buttons */

#login-btn {
  background-color: #eacc38;
  border: none;
  border-radius: 16px;
  width: 105px;
  min-width: fit-content;
  height: 38px;
  min-height: fit-content;
  font-size: 1.2rem;
  transition: ease-in-out;
}

#login-btn:hover {
  border: white solid 3px;
}

#signup-btn {
  background-color: #191505;
  color: white;
  border: none;
  border-radius: 16px;
  width: 160px;
  min-width: fit-content;
  height: 50px;
  min-height: fit-content;
  font-size: 1.3rem;
  transition: ease-in-out;
}

#signup-btn:hover {
  border: white solid 3px;
}

#logOut-btn {
  background-color: #eacc38;
  border: none;
  border-radius: 16px;
  width: 105px;
  min-width: fit-content;
  height: 38px;
  min-height: fit-content;
  font-size: 1.2rem;
  transition: ease-in-out;
}

#logOut-btn:hover {
  border: white solid 3px;
}

#log-in-error {
  color: white;
}

#sign-up-error {
  background-color: #eacc38;
  width: max-content;
}

/* Forms */

.form-control:focus {
  border-color: none;
  box-shadow: none;
  border-color: #72631a;
}

.form-select:focus {
  border-color: none;
  box-shadow: none;
  border-color: #72631a;
}

/* Movie list forms */

#filter-btn {
  background-color: #72631a;
  border: none;
  color: white;
  border-radius: 16px;
  width: 80px;
  height: 30px;
  font-size: 1rem;
  transition: ease-in-out;
}

#filter-btn:hover {
  border: white solid 2px;
}

/* Profile */

#profile {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

#profile-left-wing {
  flex-grow: 2;
  margin-bottom: 30px;
}

.profile-container {
  width: 90%;
  min-width: fit-content;
  margin: 0 auto;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
}

#profile-movies {
  display: flex;
  justify-content: space-evenly;
}

.profile-movie-card {
  border: none;
}

.profile-div-titles {
  margin: 20px;
  background-color: #eacc38;
  width: max-content;
}

.profile-no-elements {
  margin: 40px;
  background-color: #72631a;
  color: white;
  width: max-content;
}

.profile-div-links {
  margin: 20px;
}

.profile-div-links a {
  text-decoration: none;
  color: black;
}

.profile-div-links a:hover {
  background-color: #eacc38;
}

#profile-interests {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#profile-interests ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-interests ul li h6 {
  margin: 0;
}

#profile-interests ul li form {
  margin: 0;
}

#profile-interests-form {
  width: 300px;
}

#activity-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.delete-btn {
  background-color: #362f0c;
  border: #362f0c;
  transition: ease-in-out;
}

.delete-btn:hover {
  background-color: #272209;
  border: #272209;
}

.delete-btn:active {
  background-color: #272209;
  border: #272209;
}

.delete-btn:focus {
  background-color: #272209;
  border: #272209;
}

.add-btn {
  background-color: #eacc38;
  border: #eacc38;
  color: black;
  outline-color: none;
}

.add-btn:hover {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.add-btn:active {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.add-btn:focus {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

#profile-right-wing {
  width: 20%;
  min-width: fit-content;
  margin: 0 auto;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-of-users {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-of-users form {
  margin: 0;
}

.list-of-users img {
  width: 30px;
}

.list-of-users h6 {
  display: inline;
}

/* Random movie */

#chill-btn {
  background-color: #362f0c;
  border: #362f0c;
  transition: ease-in-out;
}

#chill-btn:hover {
  background-color: #272209;
  border: #272209;
}

#watch-btn {
  background-color: #eacc38;
  border: #eacc38;
  color: black;
  outline-color: none;
}

#watch-btn:hover {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f5f5f5;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #191505;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
}

.random-card {
  width: 280px;
  border: none;
  margin: 0 auto;
  background-color: transparent;
}

.random-card li {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#random-movie-view {
  width: 45%;
  min-width: fit-content;
  height: 80%;
  min-height: fit-content;
  margin: 0 auto;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#random-movie-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#random-movie-title {
  margin: 20px;
  background-color: #eacc38;
  width: max-content;
}

/* Events */

#host-event-btn {
  background-color: #eacc38;
  border: none;
  border-radius: 16px;
  width: 190px;
  height: 50px;
  font-size: 1.2rem;
  transition: ease-in-out;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#host-event-btn:hover {
  border: white solid 3px;
}

#events-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.event-cards {
  margin-top: 20px;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.event-link {
  color: #6c757d;
}

.event-link:hover {
  color: #4d545a;
}

.event-atendees {
  color: #6c757d;
}

/* Movie details */

#movie-details-left-wing {
  width: 45%;
  min-width: min-content;
  margin: 0 auto;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
}

#movie-details-left-wing-container {
  display: flex;
}

#movie-details-right-wing {
  min-width: fit-content;
  margin: 0 auto;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.movie-titles {
  margin: 20px;
  background-color: #eacc38;
  width: max-content;
}

#movie-detail-view {
  display: flex;
  margin-bottom: 30px;
  margin-right: 70px;
  margin-left: 70px;
}

#movie-detail-img {
  margin-left: 20px;
  margin-right: 15px;
}

#movie-detail-img img {
  width: 250px;
}

#movie-detail-details {
  margin: 10px 20px 0px 15px;
}

#movie-details-users {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#movie-details-users img {
  margin-right: 7px;
}

.follow-btn {
  background-color: #eacc38;
  border: #eacc38;
  color: black;
  outline-color: none;
}

.follow-btn:hover {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.follow-btn:active {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.follow-btn:focus {
  background-color: #ddc135;
  border: #ddc135;
  color: black;
}

.follow-btn:disabled {
  background-color: #72631a;
  border: #72631a;
  color: white;
}

.movie-chat {
  width: 20%;
  min-width: min-content;
  min-height: min-content;
  margin: 0 auto;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: white;
  margin-top: 30px;
}

.movie-chat-messages {
  height: 55%;
  padding-left: 10px;
  max-width: 100%;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: #f5f5f5;
  margin: 20px;
}

.send-message-btn {
  margin-left: 20px;
}

.chat-text-input {
  margin-left: 20px;
  width: 88%;
}

/*Homepage(index)*/

.nav-1 {
  background-color: #191505;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.homepage {
  flex: 1;
  background-color: #eacc38;
  color: black;
  width: 100%;
}

.body-div {
  display: flex;
  justify-content: center;
  height: 80%;
}

footer {
  display: flex;
  align-items: flex-end;
  background-color: #191505;
  padding-top: 7px;
  width: 100%;
  justify-content: flex-end;
  flex-flow: row wrap;
}

/*TMDB LOGO*/
.movie-database {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.home-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

/*Homepage(index)*/

/*Movie list*/
.nav-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #191505;
  padding: 10px;
  margin-bottom: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 40%;
  min-width: 40%;
  text-decoration: none;
  color: black;
}

.nav-links,
a {
  color: #eacc38;
  text-decoration: none;
  font-size: 20px;
}

.nav-links,
a:hover {
  color: white;
}

.nav-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.nav-user-info h4 {
  margin-right: 10px;
}

.movie-page-title {
  margin: 20px;
  background-color: #eacc38;
  width: max-content;
}

.movie-list-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.movie-list-content {
  width: 80%;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
}

.filter-div {
  padding-left: 10px;
  max-width: 100%;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(238, 238, 238, 0.2);
  background-color: #f5f5f5;
  margin: 20px;
}

.filter-div hr {
  color: rgb(228, 227, 227);
}

.filter-type {
  margin: 10px;
}

.filter-div-contents {
  padding: 5px;
}

#filter-btn {
  margin-bottom: 10px;
}

.table {
  margin: 20px;
  margin: 0 auto;
  max-width: 95%;
}

.table-watch {
  background-color: #eacc38;
  width: max-content;
}

.table-chill {
  background-color: #362f0c;
  color: white;
  width: max-content;
}

.list-of-genres {
  padding: 0;
}

.each-genres {
  display: inline;
  margin: 0;
}

.movie-title a {
  color: #4d545a;
  font-style: italic;
}

.movie-title a:hover {
  background-color: #eacc38;
  font-style: italic;
}

thead {
  background-color: #72631a;
  color: white;
}

.update-btn {
  background-color: #72631a;
  border: #72631a;
  transition: ease-in-out;
  display: inline;
}

.update-btn:hover {
  background-color: #5f5316;
  border: #5f5316;
}

.update-btn:active {
  background-color: #5f5316;
  border: #5f5316;
}

.update-btn:focus {
  background-color: #5f5316;
  border: #5f5316;
}

.edit-rank {
  display: inline;
}

.edit-alternative {
  display: inline;
}
